<footer>
    <div id="social-media-container">
        <p id="social-media-text">PIPELINE ESTAMPARIA NAS REDES SOCIAS</p>
        <div id="social-media-icons">
            <a href="#"><img src="../../assets/images/social-media/facebook.png" class="social-media-icon"/></a>
            <a href="#"><img src="../../assets/images/social-media/instagram.png" class="social-media-icon"/></a>
            <a href="#"><img src="../../assets/images/social-media/whatsapp.png" class="social-media-icon"/></a>
        </div>
    </div>
    <hr class="footer-hr"/>
    <div id="information-container">
        <p id="information-text">R. Hercília, 361 - Casa 2 - Vila Matilde, São Paulo - SP, 03512-050 - www.pipelineestamparia.com</p>
        <p id="information-text-copy">&copy; Todos os direitos reservados </p>
    </div>
</footer>
