<footer>
    <div id="social-media-container">
        <p id="social-media-text">PIPELINE ESTAMPARIA NAS REDES SOCIAS</p>
        <div id="social-media-icons">
            <a href="https://www.facebook.com/Pipeline-Estamparia-431816340994275/?hc_ref=ARQvvdCBxlHIqGGoJN_xZoYVezKzdAYYkekALm6LSpOAV4Gf6rNuobeyH8Pi7siFn28&fref=nf&__tn__=kC-R"><img src="../../assets/images/social-media/facebook.png" class="social-media-icon"/></a>
            <a href="https://www.instagram.com/oahupipeline/?hl=pt-br"><img src="../../assets/images/social-media/instagram.png" class="social-media-icon"/></a>
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5511961949360"><img src="../../assets/images/social-media/whatsapp.png" class="social-media-icon"/></a>
        </div>
    </div>
    <hr class="footer-hr"/>
    <div id="information-container">
        <p id="information-text">R. Hercília, 361 - Casa 2 - Vila Matilde, São Paulo - SP, 03512-050 - www.pipelineestamparia.com</p>
        <p id="information-text-copy">&copy; Todos os direitos reservados </p>
    </div>
</footer>
