<footer>
    <section id="footer-container">
        <div id="social-media-container">
            <p id="social-media-text">PIPELINE ESTAMPARIA NAS REDES SOCIAS</p>
            <div id="social-media-icons">
                <a href="https://www.facebook.com/Pipeline-Estamparia-431816340994275/?hc_ref=ARQvvdCBxlHIqGGoJN_xZoYVezKzdAYYkekALm6LSpOAV4Gf6rNuobeyH8Pi7siFn28&fref=nf&__tn__=kC-R" target="_blank"><img src="http://cdn.camisapersonalizadas.com.br/images/social-media/facebook.png" class="social-media-icon" alt="facebook"/></a>
                <a href="https://www.instagram.com/oahupipeline/?hl=pt-br" target="_blank"><img src="http://cdn.camisapersonalizadas.com.br/images/social-media/instagram.png" class="social-media-icon" alt="instagram"/></a>
                <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5511961949360" target="_blank"><img src="http://cdn.camisapersonalizadas.com.br/images/social-media/whatsapp.png" class="social-media-icon" alt="whatsapp"/></a>
            </div>
        </div>
        <hr class="footer-hr" aria-hidden="true"/>
        <div id="information-container">
            <nav id="footer-links">
                <a class="footer-link" routerLink="/"><b>PÁGINA INICIAL</b></a>
                <a class="footer-link" routerLink="/camisetas"><b>CAMISETAS</b></a>
                <a class="footer-link" routerLink="/copos"><b>COPOS E CANECAS</b></a>
            </nav>
            <p id="information-text"></p>
            <p id="information-text-copy">&copy; Todos os direitos reservados </p>
        </div>
    </section>
</footer>
