<section id="copo-container">
    <owl-carousel [options]="SlideOptionsShirt" [carouselClasses]="['owl-theme', 'sliding']" id="carousel-container"> 
            <img src="{{imagem}}" alt="foto camiseta" class="image-product" *ngFor="let imagem of copo.imagens"/>
    </owl-carousel>  

    <div id="description-container">
        <h2><b>{{copo.nome}}</b></h2>
        <form [formGroup]="copoForm">
            <section id="copo-information" >
                <p><b>Tipos de cores</b></p>
                <div class="copo-type-color" *ngFor="let tipoCor of copo.cores | keyvalue">
                    <input type="radio" class="radio-type-color" name="tipoCor" formControlName="tipoCor" value="{{tipoCor.key}}" (change)="getColorTypeSelected(tipoCor.key)" *ngIf="tipoCor.value.length > 0">
                    <label for="{{tipoCor.key}}" *ngIf="tipoCor.value.length > 0" class="label-type-color">{{tipoCor.key | uppercase}}</label>  
                </div>
                <div class="cores-group">
                    <label for="cor"><b>Cores</b></label>
                    <select name="cor" formControlName="cor" class="size-color-options">     
                        <option [value]="cor" *ngFor="let cor of colors">{{cor}}</option>                                                  
                    </select>
                    <div *ngIf="(cor.invalid && cor.touched) || cor.dirty">
                        <small *ngIf="cor.errors?.required" class="text-danger">A cor do copo é obrigatório</small>
                    </div>
                </div>
            </section>
        </form>
        <section id="checkout-group">
            <app-amount [minimunAmount]=10 (selectedAmount)="onSelectedAmount($event)"></app-amount>
            <div id="budget-button-box" [ngbTooltip]="copoForm.invalid ? 'Preencha os dados do produto para realizar o orçamento' : ''" placement="bottom">
                <button id="budget-button" [disabled]="copoForm.invalid" (click)="checkout()">FAZER ORÇAMENTO</button>
            </div>
        </section>
    </div>
</section>