<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isMobileMenu" style="background-color: black !important;">
    
    <a id="menu-text" class="navbar-brand" routerLink="">
        <img src="http://cdn.camisapersonalizadas.com.br/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">  
    </a>

    
    <p id="menu-text" class="navbar-brand">
        PIPELINE ESTAMPARIA
    </p>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span id="icon-navbar" class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">PÁGINA INICIAL</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/camisetas">CAMISETAS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/copos">COPOS E CANECAS</a>
      </li>
    </ul>
  </div>

</nav>

<nav id="menu-container">
    <ul id="menu-list-desktop" *ngIf="!isMobileMenu">
        <img id="logo" src="http://cdn.camisapersonalizadas.com.br/images/logo.png" alt="pipeline estamparia"/>
        <li class="menu-item"><a routerLink="/"><b>PÁGINA INICIAL</b></a></li>
        <li class="menu-item"><a routerLink="/camisetas"><b>CAMISETAS</b></a></li>
        <li class="menu-item"><a routerLink="/copos"><b>COPOS E CANECAS</b></a></li>
    </ul>
</nav>