@media screen and (max-width: 767px) {
    
    #menu-list-desktop {
        display: none;
    }
    
    #menu-list {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        list-style: none;
        background-color: whitesmoke;
        opacity: 98%;
        position: absolute;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        padding: 14px 0px 14px 30px;
        border-bottom: 1px solid #ccc;
    }

    li a {
        color: black;
        text-align: center;
        text-decoration: none;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
    }

    li a:active {
        background-color: black;  
        color: black;
    }

    #logo {
        width: 64px;
        height: 64px;
    }

    #menu-bar {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 2%;
        border-bottom: 2px solid whitesmoke;
        padding-bottom: 7px;
        background-color: whitesmoke;
    }



    #menu-icon-logo {
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    #menu-icon-image {
        width: 20%;
        display: flex;
        justify-content: flex-end;

    }

    #menu-icon {
        margin-right: 20%;
    }

    #menu-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        margin: 0;
    }
}

/*----------------------TABLET SCREEN----------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    #menu-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        border-bottom: 1px solid grey;
    }

    #menu-list-desktop {
        margin: 0;
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        align-content: center;
        list-style: none;
        padding-left: 0;
    }

    #logo {
        width: 80px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .menu-item {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
      }

      #menu-bar {
          display: none;
      }

      #menu-list {
          display: none;
      }

}

/*----------------------DESKTOP SCREEN----------------------*/
@media screen and (min-width: 1024px) {

    #menu-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        border-bottom: 1px solid grey;
    }

    #menu-list-desktop {
        margin: 0;
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        align-content: center;
        list-style: none;
        padding-left: 0;
    }

    #logo {
        width: 80px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .menu-item {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
      }

      #menu-bar {
          display: none;
      }

      #menu-list {
          display: none;
      }
}
