<section class="main-products">
    <div class="products-content">
        <h1 class="product-title">CAMISETAS PARA PERSONALIZAR</h1>
        <section class="product-grid" *ngIf="camisetas">
            <div class="product" *ngFor="let camiseta of camisetas" (click)="showProductInformation(camiseta.id, 'camisetas')" attr.aria-label="{{camiseta.nome}}" role="text">
                <img class="product-img" src="{{camiseta.imagens[0]}}" alt="imagem {{camiseta.nome}}" aria-hidden="true"/>
                <p class="product-name" aria-hidden="true">{{camiseta.nome}}</p>
            </div>
        </section>
        <p role="button" (click)="redirectCamisetas()" style="color:#007bff;font-size: 1rem;font-weight: bold;cursor: pointer;">VER MAIS</p>
    </div>
</section>