<app-menu></app-menu>
<div class="service-container">
  <img src="assets/services/silk.jpg" class="service-image" />
  <div>
    <h2 class="service-title">Silk Screen</h2>
    <p>A técnica mais utilizada para personalização de camisetas</p>
    <p><b>Indicação:</b> Camisetas, Polos, Moletons</p>
    <p>
      <b>Tecidos aceitos:</b> O Silk Screen é a técnica mais versátil
      disponível, aceita praticamente todos os tipos de tecido.
    </p>
    <p>
      <b>Limite de Cores:</b> Não há limite de cores, porém quanto mais cores,
      mais elevado será o custo, já que cada cor demanda a produção de uma tela.
    </p>
    <p><b>Limitação de Área:</b> 28x40cm</p>
    <p><b>Pedido mínimo:</b> 12 peças</p>
    <p>
      <b>Durabilidade:</b> Seguindo as recomendações de lavagem, as estampas tem
      durabilidade indeterminada.
    </p>
  </div>
</div>

<div class="service-container">
  <img src="assets/services/sublimacao.jpg" class="service-image" />
  <div>
    <h2 class="service-title">Sublimação</h2>
    <p>
      Técnica utilizada para estamparia de tecidos brancos sintéticos e canecas
    </p>
    <p><b>Indicação:</b> Qualquer tecido branco 100% poliéster</p>
    <p>
      <b>Tecidos aceitos:</b> A sublimação só é aceita por tecidos 100%
      poliéster
    </p>
    <p><b>Limite de Cores:</b> Não há limite de cores</p>
    <p><b>Limitação de Área:</b> Tamanho A3 42×29,7cm</p>
    <p><b>Pedido mínimo:</b> Uma peças</p>
    <p><b>Durabilidade:</b> As estampas tem durabilidade indeterminada.</p>
  </div>
</div>

<div class="service-container">
  <img src="assets/services/dtf.jpg" class="service-image" />
  <div>
    <h2 class="service-title">DTF</h2>
    <p>
      Uma das mais modernas técnicas de estamparia para camisetas personalizadas
      DTF vem de direct-to-film, ou seja, você imprime sua arte em um filme
      especial com tintas têxteis para impressoras.
    </p>
    <p>
      <b>Indicação:</b> Camisetas, Polos, Moletons, Dryfit, Malha fria, etc...
      Recomendamos para baixa tiragem
    </p>
    <p>
      <b>Tecidos aceitos:</b> O DTF é uma técnica versátil recomendado para
      baixa tiragem, aceita praticamente todos os tipos de tecido.
    </p>
    <p><b>Limite de Cores:</b> Não há limite de cores.</p>
    <p><b>Limitação de Área:</b> 28x40cm</p>
    <p><b>Pedido mínimo:</b> 1 peças</p>
    <p>
      <b>Durabilidade:</b> Seguindo as recomendações de lavagem, as estampas tem
      durabilidade indeterminada.
    </p>
  </div>
</div>
<app-footer></app-footer>

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<a
  href="http://api.whatsapp.com/send?1=pt_BR&phone=5511961949360"
  class="whatsapp-link"
  target="_blank"
>
  <i class="fa fa-whatsapp whatsapp-link-icon"></i>
</a>
