<section class="main-products">
    <div class="products-content">
        <h1 class="product-title">COPOS PARA PERSONALIZAR</h1>
        <section class="product-grid" *ngIf="copos">
            <div class="product" *ngFor="let copo of copos" (click)="showProductInformation(copo.id, 'copos')" attr.aria-label="{{copo.nome}}" role="text">        
                <img class="product-img" src="{{copo.imagens[0]}}" alt="imagem {{copo.nome}}" aria-hidden="true"/>
                <p class="product-name" aria-hidden="true">{{copo.nome}}</p>
            </div>
        </section>
        <p role="button" (click)="redirectCopos()" style="color:#007bff;font-size: 1rem;font-weight: bold;cursor: pointer;">VER MAIS</p>
    </div>
</section>