#payment-option-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
}

.payment-icon {
    width: 20%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}