<section *ngFor="let productType of products | keyvalue">
    <h1 class="product-title">{{productType.key | uppercase}}</h1>
    <section class="product-container-box">
        <div class="product-container">
            <div class="product" *ngFor="let product of productType.value" (click)="showProductInformation(product.id, productType.key)">
                <img src="{{product.imagens[0]}}" alt="foto camiseta" class="img-product"/>
                <p class="desc-product">{{product.nome}}</p>
            </div>
        </div>
    </section>
</section>
