
<section class="product-container">

    <p class="desc-product">CAMISETAS</p>


    <div class="product">
        <img src="../../assets/images/camiseta-dryfit.png" alt="foto camiseta" class="img-product"/>
        <p class="desc-product">Camiseta Dryfit Unissex  - Personalizada</p>
    </div>

    <div class="product">
        <img src="../../assets/images/camiseta-dryfit.png" alt="foto camiseta" class="img-product"/>
        <p class="desc-product">Camiseta Dryfit Unissex  - Personalizada</p>
    </div>

    <div class="product">
        <img src="../../assets/images/camiseta-dryfit.png" alt="foto camiseta" class="img-product"/>
        <p class="desc-product">Camiseta Dryfit Unissex  - Personalizada</p>
    </div>
</section>
