.product-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

@media screen and (max-width: 767px) {

    .product-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .product {
        margin-top: 10px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        align-content: center;
        border: solid black 2px;
        text-align: center;
        cursor: pointer;
    }

    .img-product {
        width: 80%;
    }

    .desc-product {
        font-family: 'Open Sans', sans-serif;
    }
}

@media screen and (min-width: 768px) {

    .product-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 100%;
        width: 100%;
    }

    .product {
        margin-top: 30px;
        width: 20%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        align-content: center;
        border: solid black 2px;
        text-align: center;
        cursor: pointer;
        transition: transform .2s;
    }

    .product:hover {
        -ms-transform: scale(0.9); /* IE 9 */
        -webkit-transform: scale(0.9); /* Safari 3-8 */
        transform: scale(0.9); 
      }

    .img-product {
        width: 80%;
    }

    .desc-product {
        font-family: 'Open Sans', sans-serif;
    }

}   