<app-menu></app-menu>

<section class="main-products">
    <div class="products-content">
        <h1 class="product-title">CAMISETAS</h1>
        <section class="product-grid" *ngIf="camisetas">
            <div class="product" *ngFor="let camiseta of camisetas" (click)="showProduct(camiseta.id, 'camiseta')">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let imagem of camiseta.imagens">
                        <div class="picsum-img-wrapper">
                            <img class="product-img" src="{{imagem}}"/>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <p class="product-name">{{camiseta.nome}}</p>
            </div>
        </section>
    </div>
</section>



<app-footer></app-footer>
