/* You can add global styles to this file, and also import other style files */

html, body{
    margin: 0;
}

.modal-dialog{
    animation-name: example;
    animation-duration: 0.3s;
}

@keyframes example {
    0%   {transform: scale(0.5)}
    75%  {transform: scale(1.1)}
    100% {transform: scale(1)}
}