#product-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#product-information-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#description-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-content: center;
    width: 30%;
}

#image-container {
    width: 40%;
}

.image-product {
    width: 100%;
}

#information-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-content: center;
    width: 30%;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}