<app-menu></app-menu>

<section id="product-info">
    <section id="product-information-container">
        <div id="description-container">
            <h2>Camiseta Polo</h2>
            <p>Camisetas Reserva com estampas exclusivas da marca. Compostas de malha 100% algodão. Produção sob demanda. </p>
            <app-payment-option></app-payment-option>
        </div>
        <div id="image-container">
            <img class="image-product" src="../../assets/images/home/camiseta-dryfit.png"/>
        </div>
        <div id="information-container">
            <p>Vendido e Enviado por Pipeline Estamparia</p>
        </div>
    </section>
</section>

<app-product></app-product>

<app-footer></app-footer>
