@media screen and (max-width: 767px) { 
    #product-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #product-information-container {
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 30px;
    }

    #product-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #product-information-container {
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    #image-container {
        width: 90%;
    }

    .image-product {
        width: 100%;
    }

    #description-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
    }

    #budget-button {
        align-self: center;
        margin-top: 10%;
        padding: 10px;
        width: 100%;
        border-radius: 3px;
        border: 2px solid black;
        background-color: black;
        cursor: pointer;
    }
    

    #product-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #product-information-container {
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    #budget-button:hover {
        background-color: #333;
    }

    #budget-link {
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
    
    h2 {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        font-size: 1.5rem;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #product-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #product-information-container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-top: 40px;
    }

    #image-container {
        width: 40%;
    }

    .image-product {
        width: 100%;
    }

    #description-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 60%;
        border: 2px solid black;
        padding: 15px;
    }

    #budget-button {
        align-self: center;
        margin-top: 10%;
        padding: 10px;
        width: 80%;
        border-radius: 3px;
        border: 2px solid black;
        background-color: black;
        cursor: pointer;
    }

    #budget-button:hover {
        background-color: #333;
    }

    #product-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #budget-link {
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
    
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    #product-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #product-information-container {
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-top: 40px;
    }

    #image-container {
        width: 40%;
    }

    .image-product {
        width: 100%;
    }

    #description-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 30%;
        border: 2px solid black;
        padding: 54px;
    }

    #budget-button {
        align-self: center;
        margin-top: 10%;
        padding: 10px;
        width: 80%;
        border-radius: 3px;
        border: 2px solid black;
        background-color: black;
        cursor: pointer;
    }

    #budget-button:hover {
        background-color: #333;
    }

    #product-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #budget-link {
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
    }
    
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
    }
}



